@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #383838;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}
.card{
    position: relative;
    background: #fff;
    width: 320px;
    height: 480px;
    margin: 0 auto;
}
.card .content{
    width: 320px;
    padding: 30px;
    box-sizing: border-box;
}
.card .content a{
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 600;
}
.card .sliderText{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    background: #000;
}
.card .sliderText h3{
    color: #fff;
    font-size: 3em;
}
.swiper-slide{
    width: 320px;
}
.swiper-container {
    width: 100%;
}
